{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#0314011f ;
    color:rgba(52, 1, 1, 0.385);
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;

}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
textarea{
    width:100% ;
    height:28% ;
    background:#2a4641 ;
    color: #ffffff ;
    padding:10px 20px ;
    border:0 ;
    outline: 0;
    font: size 18px; ;
}
iframe{
    width:100% ;
    height:95% ;
    background:#f7fcf69f ;
    border:0 ;
    outline:0 ;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    background: #749157d1;
    height: 30px;
}


